footer {
    .container-child {
        margin-top: 80px;
        padding-top: 88px;
        padding-bottom: 80px;
        margin-bottom: 24px;
        background-color: $black;
        border-radius: 56px;
        background-image: url("/assets/images/footer-bg.svg");
        background-repeat: no-repeat;
        background-position: top 304px left -46px;
    }

    .heading-content {
        text-align: center;
        border-bottom: 1.5px solid #383838;
        gap: 16px;
        padding-bottom: 80px;
        .heading-text-small {
            font-size: $span-lg;
            color: $yellow-green;
            font-family: $font-almarena_display_bold;
        }

        .heading-text {
            font-size: $h2-lg;
            font-family: $font-almarena_display_bold;
            text-transform: uppercase;
            color: $white;
            max-width: 1191px;

            span {
                color: $black;
                z-index: 2;

                img {
                    position: absolute;
                    top: -4px;
                    left: 0;
                    max-width: 500.82px;
                    // width: 100%;
                    z-index: -1;
                }
            }
        }

        .desc-text {
            font-size: $p-lg;
            font-family: $font-almarena_regular;
            color: rgba(255, 255, 255, 0.64);
            max-width: 538px;
        }

        .decor-footer-btn {
            position: absolute;
            bottom: 73px;
            right: 64px;
            max-width: 180px;
            animation: rotation 10s infinite linear;
            cursor: pointer;

            @keyframes rotation {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(359deg);
                }
            }
        }
    }

    .content {
        margin-top: 56px;
        // a {
        //     font-size: 16px;
        //     text-decoration: none;
        // }

        .company {
            gap: 15px;
            .brand-text {
                font-size: 27px;
                color: $yellow-green;
                font-family: $font-almarena_display_bold;
            }

            .wrap-contact-us {
                a {
                    color: $white;
                }
            }
        }

        .wrap {
            text-align: end;
            .wrap-button {
                gap: 12px;
                margin-bottom: 30px;
            }

            .wrap-privacy {
                a {
                    color: rgba(169, 169, 169, 1);

                    &:not(:last-child) {
                        margin-right: 56px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    footer {
        .heading-content {
            .heading-text {
                font-size: 62px;
                max-width: unset;

                img {
                    max-width: 391.82px !important;
                }
            }

            .decor-footer-btn {
                position: absolute;
                bottom: 118px;
                right: 89px;
                max-width: 110px;
            }
        }
    }
}

@media (max-width: 768px) {
    footer {
        .heading-content {
            .heading-text {
                font-size: 48px;

                img {
                    max-width: 302.82px !important;
                }
            }

            .decor-footer-btn {
                display: none;
            }
        }

        .content {
            gap: 40px;
            flex-direction: column;

            .wrap {
                text-align: start;
            }
        }
    }
}

@media (max-width: 576px) {
    footer {
        .container-child {
            margin-top: 80px;
            padding-block: 80px;
            border-radius: 42px;
        }

        .heading-content {
            .heading-text-small {
                font-size: 16px;
            }

            .heading-text {
                font-size: 32px;

                img {
                    max-width: 201.82px !important;
                }
            }

            .desc-text {
                font-size: 16px;
            }
        }

        .content {
            .company {
                .brand-text {
                    font-size: 24px;
                }
            }

            .wrap {
                .wrap-button {
                    flex-direction: column;

                    .btn {
                        text-align: center;
                    }
                }

                .wrap-privacy {
                    a {
                        display: block;
                        &:nth-child(1) {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
